@page "/"
@attribute [Authorize]
@inject IAuthServices AuthServices


<div class="card mt-4">
    <h4 class="card-header">You're logged in with Blazor WebAssembly & JWT!!   @AuthServices.users.Nombres</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
    </div>
</div>

@code {
private bool loading;

    protected override void OnInitialized()
    {
        loading = true;
        loading = false;
    }
}